#!/usr/bin/env python

""" {{ filename }}

Usage:
    {{ filename }}
            {% if 'videos_per_chunk' not in parameters -%}
                [--videos_per_chunk <videos_per_chunk>]
            {% endif -%}
            {% if 'num_workers' not in parameters -%}
                [--num_workers <num_workers>]
            {% endif -%}
            {% for p, d in zip(reversed(parameters), reversed(defaults)) -%}
            {% if d == '' -%}
                <{{ p }}>
            {% else -%}
                [--{{ p }} <{{ p }}>]
            {% endif -%}
            {% endfor -%}
            {% if 'output_folder' not in parameters -%}
                <{{ output_folder }}>
            {% endif %}

Options:
    {% for p, d in zip(parameters, defaults) -%}
    {% if d != '' -%}
     --{{ p }}=<{{ p }}>    [default: {{ d }}]
    {% endif -%}
    {%- endfor -%}

    {% if 'videos_per_chunk' not in parameters -%}
    --videos_per_chunk=<videos_per_chunk>    [default: 100]
    {% endif -%}
    {% if 'num_workers' not in parameters -%}
    --num_workers=<num_workers>    [default: 4]
    {% endif -%}
"""


from docopt import docopt
from {{ adapter_file }} import {{ class_name }}
from gulpio2.fileio import GulpIngestor

if __name__ == "__main__":
    arguments = docopt(__doc__)
    print(arguments)

    {% for p, d in zip(reversed(parameters), reversed(defaults)) -%}
    {% if d == '' -%}
        {{ p }} = arguments['<{{ p }}>']
    {% else -%}
        {{ p }} = arguments['--{{ p }}']
    {% endif -%}
    {% endfor -%}

    {% if 'output_folder' not in parameters -%}
    output_folder = arguments['<output_folder>']
    {% endif -%}
    {% if 'videos_per_chunk' not in parameters -%}
    videos_per_chunk = arguments['--videos_per_chunk']
    {% endif -%}
    {% if 'num_workers' not in parameters -%}
    num_workers = arguments['--num_workers']
    {% endif -%}

adapter = {{ class_name }}(
        {% for parameter in parameters -%}
        {{ parameter }},
        {% endfor -%}
        )
ingestor = GulpIngestor(adapter,
                        output_folder,
                        videos_per_chunk,
                        num_workers)
ingestor()

